@import "imports.scss";

*:focus {
  outline: 0 !important;
}

html, body {
  font-family: "Titillium Web", sans-serif;
  background-color:#484d54;
}

.col-sm-10 {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid;
  border-top-style: none;
  border-bottom-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @media only screen and (max-width: $screen-sm) {
    border: 2px solid #494d55;
    border-top-style: none;
    border-bottom-style: none;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.rank {
  border: solid 1px black;
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
  box-shadow: 0 1rem 1.5rem rgba(black, .2);
}
