<div class="player-box">
  <div class="player-box__control">
    <img *ngIf="!_audioService.audios[song.slug] || _audioService.audios[song.slug].paused" (click)="playSong()" class="player-box__controller" src="../../../assets/img/play-button.png"/>
    <img *ngIf="_audioService.audios[song.slug] && !_audioService.audios[song.slug].paused" (click)="stopSong()" class="player-box__controller" src="../../../assets/img/pause.png"/>
    <img class='player-box__image' [src]='getImageUrl()'/>
  </div>
  <div class="player-box__flex">

  <div class="player-box__content">
    <span class="player-box__content-artist">{{ song.artist }}</span>
    <span class="player-box__content-title">{{ song.title }}</span>
    <a (click)='muteSong()' class="player-box__content-mute">
      <img *ngIf="!_audioService.audios[song.slug] || !_audioService.audios[song.slug].muted" src="src/assets/img/speakers-sound-small.png">
      <img *ngIf="_audioService.audios[song.slug] && _audioService.audios[song.slug].muted" src="src/assets/img/speakers-mute.png">
    </a>
    <mat-slider (change)="pitch($event)"
      class="player-box__content-slider"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [(ngModel)]="value"
      [vertical]="vertical">
    </mat-slider>
    <div class="player-box__uploaded">
      <p class="player-box__info-user">Wrzucone przez: <a class="player-box__user-upload" routerLink="/profile/{{song._user._id}}">{{ song._user.name }}</a></p>
      <a (click)="addToPlaylist(song._id)" data-toggle="popover" title="Dodaj ten utwór do playlisty." data-content="Some content inside the popover">
        <i class="material-icons iconed" style="font-size: 50px">
          playlist_add
        </i>
      </a>
      <a data-toggle="popover" title="Polub utwór." data-content="Some content inside the popover">
          <i class="material-icons iconed" style="font-size: 50px">
          star_border
        </i>
      </a>
      <a data-toggle="popover" title="Już mi się nie podoba." data-content="Some content inside the popover">
        <i class="material-icons iconed" style="font-size: 50px">
          star
        </i>
      </a>
    </div>
  </div>
  <div *ngIf="_audioService.audios[song.slug]" class="player-box__timeseeker">
    <p>{{ _audioService.updateCurrentTime(song.slug) }} / {{ _audioService.metadata[song.slug] }}</p>
    <input #mySeeker
      type="range"
      min="0"
      max="100"
      step="1"
      (focus)="onSeekStart()"
      (mouseup)="onSeekEnd($event)"
      [value]="_audioService.updateSeeker(song.slug)"/>
  </div>
</div>
</div>
