.navbar {
  padding: 2px 30px;

  @media only screen and (max-width: 285px) {
    padding: 2px 15px;
  }

  .navbar-brand {
    height: 60px;
  }

  .navbar-text {
    color: white;
    margin-left: 5px;
    letter-spacing: 3px;

    @media only screen and (max-width: 285px) {
      font-size: 0.9em !important;
      margin-left: 2px;
      color: white;
      letter-spacing: 2px;
    }
  }

  .navbar-link {
    font-size: 1.1em !important;
  }

  .navbar-toggler {
    &:hover,
    &:active {
      outline: 0;
    }
  }

  .nav-transition {
    transition: color 1s;
  }

  .navbar-nav > li{
    &:not(:last-child) a {
      transition: color 1s;
    }

    &:first-child a:hover,
    &:first-child a:active {
      color: #00B29A;
      cursor: pointer;
    }

    &:nth-child(2) a:hover,
    &:nth-child(2) a:focus {
      color: #faa634;
      cursor: pointer;
    }

    &:nth-child(3) a:hover,
    &:nth-child(3) a:focus {
      color: #A065AA;
      cursor: pointer;
    }
  }

  .navbar-nav li {
    padding-right: 20px;

    a {
      padding: 10px;
      color: white;
    }
  }

  .navbar-nav .nav-login-mobile {
    transition: color 1s;

    &:focus {
      color: #EE4D7A;
    }
  }

  .nav-button-login {
    background:url("/src/assets/img/button-purple-sm.svg") center/cover no-repeat;
    width: 150px;
    height: 44px;
    font-weight: bold;
    text-align: center;
    transform-origin: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.6s;
    z-index: 1;

    &:before {
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(255,0,0,0.2);
      background: linear-gradient(90deg, #A065AA 0%, #4F72B8 100%);
      opacity: 0;
      z-index: -1;
      transition: opacity .4s ease-in-out;
    }

    &:after {
      content: '';
      width: 60%;
      left: 20%;
      bottom: -20px;
      position: absolute;
      border-radius: 30%;
      box-shadow: 0px 0px 30px 0px rgba(28,35,41,0.3);
      background: rgba(28,35,41,0.3);
      display: block;
      height: 20px;
      transform-origin: center;
      transform: scale(0)
    }

    &:hover {
      animation:levitateBtn 2s linear infinite;
    }

    &:hover:after {
      animation:levitateBtnShadow 2s linear infinite;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  .navbar-logo-custom {
    width: 50px;
    height: 50px;
  }

  .dropdown-divider {
    border-color: #516678;
  }
}

@keyframes levitateBtn {
  0% {
    transform:translateY(0) rotate(0);
    transform-origin:center
  }
  25% {
    transform:translateY(-2px)
  }
  50% {
    transform:translateY(-5px) rotate(0deg)
  }
  75% {
    transform:translateY(-2px)
  }
  100% {
    transform:translateY(0)
  }
}

@keyframes levitateBtnShadow {
  0% {
    transform:scale(0.5)
  }
  50% {
    transform:scale(0.2)
  }
  100% {
    transform:scale(0.5)
  }
}
