<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="navbar-brand-name">
          <img class="navbar-logo-custom animated fadeInLeft slow" src="../assets/img/neotic-logo-nav.png"/>
          <p class="navbar-text animated fadeIn slow">NEOTIC</p>
        </div>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/']" *ngIf="isMobile" class="nav-link">Główna</a>
          <a [routerLink]="['/']" *ngIf="!isMobile" class="nav-link nav-transition">Główna</a>
        </li>
        <ng-container *ngIf="!isLoginPage">
          <li class="nav-item">
            <a *ngIf="isMobile" data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="triggerScroll('info-destination')">O projekcie</a>
            <a *ngIf="!isMobile" class="nav-link" (click)="triggerScroll('info-destination')">O projekcie</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isMobile" data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="triggerScroll('music-destination')">Nowości</a>
            <a *ngIf="!isMobile" class="nav-link" (click)="triggerScroll('music-destination')">Nowości</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a [routerLink]="['login']" [ngClass]="!isMobile ? 'nav-button-login' : 'nav-login-mobile'" class="nav-link">Logowanie</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
