<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="navbar-brand-name">
          <img class="navbar-logo-custom animated fadeInLeft slow" src="../assets/img/neotic-logo-nav.png"/>
          <p class="navbar-text animated fadeIn slow">NEOTIC</p>
        </div>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <!-- displays navbar for logged user -->
        <ng-container *ngIf="(authService.user | async) as user; else auth">
          <li class="nav-item">
            <a (click)="sendInfo(user._id)" routerLink="/myprofile" routerLinkActive="active" class="nav-link"><img src="{{user.avatarUrl}}" class="nav-img-circle"><p class="nav-user">{{ user.name }}</p></a>
          </li>
          <li [ngSwitch]="user.role" class="nav-item">
            <a *ngSwitchCase="'admin'" [routerLink]="['/admin']" class="nav-link">Panel administratora</a>
            <a *ngSwitchCase="'user'" [routerLink]="['/user']" class="nav-link">Panel użytkownika</a>
          </li>
          <li class="nav-item">
              <a (click)="authService.logout()" class="nav-link">Wyloguj</a>
          </li>
        </ng-container>

        <!-- displays navbar for guests -->
        <ng-template #auth>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/']" [routerLinkActive]="['active']" *ngIf="isMobile" class="nav-link">Główna</a>
            <a [routerLink]="['/']" *ngIf="!isMobile" class="nav-link nav-transition">Główna</a>
          </li>

            <!-- displays navbar for guests in login or registration page -->
            <ng-container *ngIf="!isLoginPage">
              <li class="nav-item">
                <a *ngIf="isMobile" data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="triggerScroll('info-destination')">O projekcie</a>
                <a *ngIf="!isMobile" class="nav-link" (click)="triggerScroll('info-destination')">O projekcie</a>
              </li>
              <li class="nav-item">
                <a *ngIf="isMobile" data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="triggerScroll('music-destination')">Nowości</a>
                <a *ngIf="!isMobile" class="nav-link" (click)="triggerScroll('music-destination')">Nowości</a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="nav-item" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['login']" [routerLinkActive]="['active']" [ngClass]="!isMobile ? 'nav-button-login' : 'nav-login-mobile'" class="nav-link">Logowanie</a>
              </li>
          </ng-container>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
