@import "src/assets/scss/imports";

.container {
  margin-top: 0px !important;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  margin: 0 auto;
  padding-top: 3rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.container-fluid {
  background: #13191e url("/src/assets/img/pattern.svg") top left/auto repeat;
}

.display-4 {
  @media (max-width: $screen-sm) {
    font-size: 2.5em;
  }
}

.box-info {
  padding-top: 30px;
}

.box-img {
  margin-bottom: 5px;
}

.lead {
  color: white;
  padding: 0 10px;

  @media only screen and (max-width: 320px) {
    padding: 0 2px;
  }
}

h1,
h3 {
  color: white;
}
