@import "src/assets/scss/imports";

.col-sm-10 {
  height: 500px;
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);

  @media (min-width: 300px) and (max-width: 991px) {
    height: auto;
  }

  .message {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.jumbotron {
  background-color: inherit;
  padding: 2rem 1rem;
  margin-bottom: 0;
}

.music-samples-box {
  width: 320px;
  margin: 0 20px;
  padding: 10px;
}

.large-box {
  display: flex;
  height: 300px;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;

  @media (min-width: 992px) and (max-width: 1200px) {
    justify-content: space-evenly;
  }

  @media (min-width: 361px) and (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
  }

  @media (min-width: 280px) and (max-width: 360px) {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 350px;
  }
}
